@font-face {
    font-family: 'CrimsonText';
    src: url('../fonts/CrimsonText-Roman.ttf');
}

html, body {
    position: relative;
    height: 100%;
}
body {
    font-family: 'CrimsonText', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.swiper-slide {
    font-size: 18px;
    background: #fff;
    background-size: cover;
    background-position: 50% 50%;
}

.content {
    position: absolute;
    width: 30%;
    left: 100px;
    top: 100px;
    bottom: 100px;
    overflow: auto;
    color: #fff;
    text-shadow: 0px 1px #000;
}

.content h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.content p {
    font-size: 20px;
    line-height: 25px;
}

.overlay {
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

@media screen and (max-width: 500px) {
    .content {
        width: auto;
        right: 25px;
        left: 25px;
        top: 25px;
        bottom: 40px;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.5);
    }

    .swiper-button-white {
        height: 20px;
        top: auto;
        bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .content p {
        font-size: 15px;
        line-height: 20px;
    }
}
